<section class="border-collapse">
    <cdk-table [dataSource]="dataSource()">
        @for (column of displayColumns(); track column.key) {
            <ng-container [cdkColumnDef]="column.key" class="flex flex-col">
                <cdk-header-cell
                    *cdkHeaderCellDef
                    class="flex-1 p-2 text-center font-semibold capitalize"
                >
                    {{ column.label }}
                </cdk-header-cell>
                <cdk-cell *cdkCellDef="let row" class="flex-1 p-2 text-center">
                    <ul>
                        <li><img  [src]="this.url + column.accessor(row).showing.movie.image_Url"
                        [alt]="'Affiche du film' + column.accessor(row).showing.movie.title"></li>
                        <li class="capitalize">{{ column.accessor(row).showing.movie.title }}</li>
                        <li>{{ column.accessor(row).showing.date | date:'d/M/yy' }}</li>
                        <li>Démarre à {{ column.accessor(row).showing.startAt }}</li>
                        <li>Termine à {{ column.accessor(row).showing.endAt }}</li>
                        <li>Salle: {{ column.accessor(row).showing.room.number }}</li>
                        @for (seat of column.accessor(row).seat; track $index) {
                        <li>Siège: {{ seat.number }}</li>} @empty {
                            <p>Pas de siège réservé</p>
                        }
                    </ul>
                    
                </cdk-cell>
            </ng-container>
        }

        <ng-container cdkColumnDef="action" class="flex flex-col">
            <cdk-header-cell
                *cdkHeaderCellDef
                class="flex-1 p-2 text-center font-semibold capitalize"
            >
                e-billets
            </cdk-header-cell>
            <cdk-cell
                *cdkCellDef="let row"
                class="flex-1 p-2 text-center flex justify-evenly"
            >
                    <button (click)="editItem(row)" class="cursor-pointer">
                        <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="size-12"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m.75 12 3 3m0 0 3-3m-3 3v-6m-1.5-9H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"
                                    />
                                </svg>
                    </button>
            </cdk-cell>
        </ng-container>

        <cdk-header-row
            *cdkHeaderRowDef="columnKeys()"
            class="flex bg-sage/30 border border-darkblue"
        ></cdk-header-row>
        <cdk-row
            *cdkRowDef="let row; columns: columnKeys()"
            class="flex border border-darkblue"
        ></cdk-row>
    </cdk-table>
    @if (!dataSource().length) {
        <p class="text-center p-4 font-semibold">Aucun enregistrement</p>
    }
</section>
