<ion-header [translucent]="true" class="bg-sage">
    <ion-toolbar class="bg-sage">
        <div class="flex justify-center border-darkblue bg-sage p-2">
            <img
                [routerLink]="['/']"
                src="../../assets/logo.png"
                alt="logo Cinéphoria"
                class="rounded-2xl w-24 border border-darkblue"
            />
        </div>
    </ion-toolbar>
</ion-header>
<div class="flex flex-col items-center">
    <h2>
        Bienvenue
        <span class="text-peach font-bold capitalize">{{
            currentUser().username
        }}</span>
    </h2>
    <p class="py-6">Vos séances à venir</p>
    <app-datatable [displayColumns]="displayColumns()" [data]="previousShowing()" />
</div>
<ion-footer class="bg-sage">
    <ion-toolbar></ion-toolbar>
</ion-footer>
