<ion-header>
    <ion-toolbar color="transparent" class="bg-sage">
        <div class="flex justify-center border-darkblue p-2">
            <img
                [routerLink]="['/']"
                src="../../assets/logo.png"
                alt="logo Cinéphoria"
                class="rounded-2xl w-24 border border-darkblue"
            />
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
<div class="flex flex-col items-center overflow-scroll-auto">
    <h2>
        Bienvenue
        <span class="text-peach font-bold capitalize">{{
            currentUser().username
        }}</span>
    </h2>
    <p class="py-6">Vos séances à venir</p>
    <app-datatable
        [displayColumns]="displayColumns()"
        [data]="previousShowing()"
        (onEditItem)="displayQrCode($event)"
        class="w-[90%]"
    />
</div></ion-content>
<ion-footer [ngClass]="'bg-sage'">
    <ion-toolbar color="transparent"><div class="bg-sage flex justify-end">
        <button (click)="logout()"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
</svg></button>
    </div>
    </ion-toolbar>
</ion-footer>
