<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Cinéphoria</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="">
    <div class=>
        <img src="../../assets/logo.png" alt="logo Cinéphoria" class="rounded-2xl w-64"/>
    </div>
        <ion-list>
          <ion-item>Se connecter</ion-item>
            <ion-item>
                <ion-input
                    label="Email"
                    type="email"
                    labelPlacement="stacked"
                    [clearInput]="true"
                    fill="outline"
                    errorText="Entrez un email valide"
                ></ion-input>
            </ion-item>
            <ion-item>
                <ion-input
                    label="Password"
                    type="password"
                    labelPlacement="stacked"
                    [clearInput]="true"
                    fill="outline"
                >
                </ion-input>
            </ion-item>
        </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar></ion-toolbar>
</ion-footer>
